{
  "env": {
    "node": true
  },
  "extends": [
    "@codeyourfuture/standard"
  ],
  "overrides": [
    {
      "files": [
        "index.js"
      ],
      "rules": {
        "no-unused-vars": "off"
      }
    },
    {
      "files": [
        "examples.js"
      ],
      "globals": {
        "assertEqual": false,
        "test": false
      }
    }
  ],
  "parserOptions": {
    "ecmaVersion": 6
  }
}
